<!-- start: .author -->
<section id="author" class="author section bg-box {{#if profile_image}} with-avatar{{else}} no-avatar{{/if}} {{#is "post"}}single-author{{/is}}">
    {{#is "post"}}
        <h3 class="title medium bordered absolute">{{t "About the Author"}}</h3>
    {{/is}}
    <div class="single-wrapper">
        <div class="flex">
            {{#if profile_image}}
                <a class="author-avatar shadow-effect {{#if profile_image}}epcl-loader{{/if}}">
                    <span class="author-image cover lazy" data-src="{{profile_image}}"></span>
                </a>   
            {{/if}}

            <div class="right">
                <h4 class="title author-name underline-effect"><a href="{{url}}">{{name}}</a></h4>
                {{#if location}}
                    <p class="position">{{location}}</p>
                {{/if}}
                {{#is "post"}}
                    <div class="social">
                        {{#if twitter}}
                            <a href="{{twitter_url}}" class="twitter tooltip" title="{{ t 'Follow me on Twitter' }} " target="_blank"><svg><use xlink:href="#twitter-icon"></use></svg></a>
                        {{/if}}
                        {{#if facebook}}
                            <a href="{{facebook_url}}" class="facebook tooltip" title="{{ t 'Follow me on Facebook' }}" target="_blank"><i class="fa fa-facebook"></i></a>
                        {{/if}}
                        {{#if website}}
                            <a href="{{website}}" class="website tooltip" title="{{ t 'Website' }}: {{website}}" target="_blank"><i class="fa fa-globe"></i></a>
                        {{/if}}
                    </div>  
                {{/is}}
            </div>
        </div>
        <div class="clear"></div>
        
        <div class="info">
            <p>{{bio}}</p>
            {{#is "post"}}
                <a href="{{url}}" class="epcl-button white small active">{{t "View All Articles"}}</a>
            {{else}}
                <div class="social">
                    {{#if twitter}}
                        <a href="{{twitter_url}}" class="twitter tooltip" title="{{ t 'Follow me on Twitter' }} " target="_blank"><svg><use xlink:href="#twitter-icon"></use></svg></a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" class="facebook tooltip" title="{{ t 'Follow me on Facebook' }}" target="_blank"><i class="fa fa-facebook"></i></a>
                    {{/if}}
                    {{#if website}}
                        <a href="{{website}}" class="website tooltip" title="{{ t 'Website' }}: {{website}}" target="_blank"><i class="fa fa-globe"></i></a>
                    {{/if}}
                </div>  
            {{/is}}        
        </div> 
    </div>

    {{#is "post"}}

        {{#get "posts" filter="id:-{{id}}+primary_author:{{slug}}" limit="3" as |author-posts|}}
            <div class="author-posts widget widget_epcl_posts_thumbs">
                <h4 class="title usmall">{{{t "Check latest articles from <b>this author:</b>"}}}</h4>
                {{#foreach author-posts}}
                    <article class="{{post_class}} item ctag-{{primary_tag.slug}} {{^if feature_image}}no-thumb{{/if}}">
                        <div class="info">                    
                            {{#if feature_image}}
                                <a href="{{url}}" class="thumb main-effect epcl-loader">
                                    <span class="fullimage cover lazy" data-src="{{img_url feature_image size="thumbnail"}}"></span>
                                    <span class="epcl-number">{{@number}}</span>
                                </a>
                            {{/if}}
                            <div class="right">
                                <h4 class="title usmall underline-effect"><a href="{{url}}">{{title}}</a></h4>	
                                <time datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time>		
                            </div>				
                        </div>
                        <div class="clear"></div>
                    </article>
                {{/foreach}}

            </div>
        {{/get}}
    {{/is}}

</section>
<!-- end: .author -->