<!-- start: #footer -->
<footer id="footer">

	<div class="widgets grid-container grid-large hide-on-mobile">
        <div class="epcl-row">

            {{> widgets/text-widget }} 

            {{> widgets/recent-articles }}

            {{> widgets/tag-cloud }}

            {{> widgets/social-profiles }}

            {{!-- {{> widgets/about }} --}}

            <div class="clear"></div>
        </div>

	</div>

    <div class="grid-container grid-large">
        <div class="epcl-subscribe">
            <div class="grid-container grid-usmall grid-parent np-mobile textcenter">                
                <form class="subscribe-form" data-members-form="subscribe">
                    <h4 class="title large">{{t "subscribe for updates"}}</h4>
                    <div class="form-group">
                        <input type="email" name="email" class="inputbox rounded large" required placeholder="{{t "email address"}}" data-members-email>
                        <button class="epcl-button submit absolute" type="submit" data-title="{{t "Submit"}}">{{t "submit"}}<span class="loader"></span></button>
                    </div>                
                    <p class="error-detail" data-members-error></p>
                    <p class="success-message">{{t "success, check your email to confirm"}} <i class="fa fa-envelope-o"></i></p>
                    <span class="subscribe-decoration"></span>
                </form>

                <p class="description">{{{t "subscribe for sporadic updates and shenanigans"}}}</p>   
        
            </div>
        </div>
    </div>

    {{navigation type="secondary"}}

	<p class="published underline-effect">{{t "Published with" }} <a href="https://ghost.org/" target="_blank">Ghost</a> &amp;</p>

    <div class="clear"></div>

    <a href="javascript:void(0)" id="back-to-top" class="epcl-button white"><i class="fa fa-angle-up"></i></a>

</footer>
<!-- end: #footer -->