{{!< default}}

{{#post}}

<!-- start: #page -->
<main id="page" class="main grid-container">
	
    <!-- start: .center -->
    <div id="single" class="content fullcover no-sidebar">
        
        {{#match @page.show_title_and_feature_image}}
            {{#if feature_image }}
                <div class="post-format-wrapper featured-image cover">
                    <img src="{{asset '/images/transparent.gif'}}" data-src="{{img_url feature_image size="single_fullcover" }}" alt="{{title}}" class="lazy fullwidth">
                    <div class="info">
                        <h1 class="title large bordered small-border-radius">{{title}}</h1>
                    </div>
                </div>
            {{/if}}
        {{/match}}

        <div class="content">
        
            <!-- start: .left-content -->
            <div class="left-content grid-70 np-mobile">
                <article class="main-article bg-box {{post_class}}">
                
                    <section class="post-content">
                        {{#match @page.show_title_and_feature_image}}
                            {{^if feature_image }}
                                <h1 class="title large bold absolute bordered small-border-radius">{{title}}</h1>
                            {{/if}}
                        {{/match}}
                        <div class="text">
                            {{content}}
                        </div>
                        <div class="clear"></div>
                    </section>
                    
                </article>
            </div>
            <!-- end: .content -->
            
            <div class="clear"></div>

        </div>
    
    </div>
    <!-- end: .center -->
    
</main>
<!-- end: #page -->

{{/post}}
